/*  A simple grid system. 
    Author: miles0930 */

$xlarge: 1200px
$large: 992px
$medium: 768px
$small: 576px

.grid
    display: inline-block
    width: 100%
    text-align: center

.col
    display: inline-block
    vertical-align: top
    overflow: hidden
    
    @for $i from 1 through 12
        &.gutters-xs-#{$i}
            margin: 1%
            width:  percentage(((6*$i) + ($i - 1)*2)/100)
    @for $i from 1 through 12
        &.xs-#{$i}
            margin: 0
            width:  percentage(1/12 * $i)

    @media screen and (min-width: #{$small})
        @for $i from 1 through 12
            &.gutters-sm-#{$i}
                margin: 1%
                width:  percentage(((6*$i) + ($i - 1)*2)/100)
        @for $i from 1 through 12
            &.sm-#{$i}
                margin: 0
                width:  percentage(1/12 * $i)

    @media screen and (min-width: #{$medium})
        @for $i from 1 through 12
            &.gutters-md-#{$i}
                margin: 1%
                width: percentage(((6*$i) + ($i - 1)*2)/100)
        @for $i from 1 through 12
            &.md-#{$i}
                margin: 0
                width:  percentage(1/12 * $i)

    @media screen and (min-width: #{$large})
        @for $i from 1 through 12
            &.gutters-lg-#{$i}
                margin: 1%
                width: percentage(((6*$i) + ($i - 1)*2)/100)
        @for $i from 1 through 12
            &.lg-#{$i}
                margin: 0
                width:  percentage(1/12 * $i)

    @media screen and (min-width: #{$xlarge})
        @for $i from 1 through 12
            &.gutters-xl-#{$i}
                margin: 1%
                width: percentage(((6*$i) + ($i - 1)*2)/100)
        @for $i from 1 through 12
            &.xl-#{$i}
                margin: 0
                width:  percentage(1/12 * $i)

